body{
  line-height:1.2;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #3a3a3a;
  background-image:linear-gradient(135deg,#1f191a 0,#262626 50%,#1f191a 100%);
  padding: 40px 20px;
  color: white;
}

.App-header .WatchListInput{
  max-width:400px;
  margin:20px auto 0 auto;
}

.App-main {
  padding:20px;
}

.App-title {
  font-size: 2.5em;
}

.App-subtitle{
  font-size: 1.25rem;
  font-weight: 400;
  color:#8a8a8a;
}
