body{
  line-height:1.2;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #363636;
  padding: 20px;
  color: white;
}

.App-header .WatchListInput{
  max-width:400px;
  margin:20px auto 0 auto;
}

.App-main {
  padding:20px;
}

.App-title {
  font-size: 2.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
