.WatchList-header-title{
  font-weight:400;
  font-size:2rem;
  line-height:1.25;
}
.CompletedList-header-title{
  color:#6a6a6a;
  font-style:italic;
}
.WatchList-container{
  max-width:1200px;
  margin:0 auto;
}
.empty-WatchList{
  max-width:400px;
  margin:0 auto;
}

.WatchList-ListItem .card-footer-button{
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  color: #363636;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8px 2px;
  font-size:0.9em;
}

.WatchList-ListItem .card-footer-button:not(:last-child) {
  border-right: 1px solid #dbdbdb;
}

.WatchList-ListItem .card-footer-button .icon, .WatchList-ListItem .card-footer-button .icon.is-small, .WatchList-ListItem .card-footer-button .icon.is-medium, .WatchList-ListItem .card-footer-button .icon.is-large {
  height: 1.5em;
  width: 1.5em;
}

/*.WatchList-ListItem .card-footer-button .icon:first-child:not(:last-child) {
  margin-left: calc(-0.375em - 1px);
  margin-right: 0.1875em;
}

.WatchList-ListItem .card-footer-button .icon:last-child:not(:first-child) {
  margin-left: 0.1875em;
  margin-right: calc(-0.375em - 1px);
}

.WatchList-ListItem .card-footer-button .icon:first-child:last-child {
  margin-left: calc(-0.375em - 1px);
  margin-right: calc(-0.375em - 1px);
}*/

.WatchList-ListItem .card-footer-button:hover, .WatchList-ListItem .card-footer-button.is-hovered {
  color: #363636;
}

.WatchList-ListItem .card-footer-button:focus, .WatchList-ListItem .card-footer-button.is-focused {
  color: #363636;
}

.WatchList-ListItem .card-footer-button:active, .WatchList-ListItem .card-footer-button.is-active {
  color: #363636;
}

.WatchList-container li{
  border:1px solid #ccc;
  border-radius:2px;
  margin:5px 0;
  padding:10px 30px 10px 10px;
}

.WatchList-container li.notification{
  margin-bottom:0.8rem;
}

.WatchList-container .buttons{
  margin-top:10px;
}
.CompletedList{
  max-width:1000px;
  margin:0 auto;
}
.CompletedList .ListItem-overlay{
  font-style:italic;
}
.CompletedList .card-image img{
  opacity:0.7;
}
.CompletedList li{
  font-style:italic;
  color:#9a9a9a;
  text-align:left;
}

.ListItem-content{
  padding:10px 30px 10px 10px;
  position:relative;
}
.ListItem-content>.delete{
  position: absolute;
  right: .5rem;
  top: .5rem;
}

.ListItem-overlay{
  bottom:0;
  position:absolute;
  padding:10px 5px;
  background-color:rgba(0,0,0,0.6);
  color:#fff;
  width:100%;
  text-shadow:1px 1px 3px rgba(0,0,0,0.5);
}

.ListItem-title{
  font-size:0.8em;
  font-weight:700;
}
.ListItem-image{
  max-width:100px;
}

.ListItem-subcontent{
  font-size:0.8em;
  font-weight:400;
}
.ListItem-year{
  display:block;
  font-size:0.8em;
  color:#fafafa;
}
.ListItem-link{
  float:right;
}
.WatchList-ListItem .card-footer-button-text{
  display:none;
}
@media(min-width:400px){
  .WatchList-ListItem .card-footer-button.WatchList-Check, .WatchList-ListItem .card-footer-button.WatchList-Reset{
    width:80%;
    flex:none;
  }
  .WatchList-ListItem .card-footer-button-text{
    display:inline;
  }
}

.WatchList-ListItem .card-footer-button.WatchList-Check:hover{
  color:#22c65b;
}
.WatchList-ListItem .card-footer-button.WatchList-Reset:hover{
  color:#3273dc;
}

.WatchList-ListItem .card-footer-button.WatchList-Remove{
}
.WatchList-ListItem .card-footer-button.WatchList-Remove:hover{
  color:#ff2b56;
}