.App .hero{
  text-align:center;
}

.App .Board{
  margin:0 auto;
  width:400px;
  height:400px;
  display:flex;
  flex-wrap: wrap;
  text-align:center;
  border:2px solid black;
}

.App .SquareContainer{
  width:12.5%;
  height:12.5%;
}

.App .SquareContainer.moveable{
  cursor: pointer;
}

.App .SquareContainer.isMoveable{
  background-color:#008c1f;
}

.App .innerSquareContainer{
  width:100%;
  height:100%;
  position:relative;
  background-color:green;
}
.App .innerSquareContainer.isOver{
  background-color:yellow;
}
.App .Square{
  text-align:center;
  width:100%;
  height:100%;
}

.App .Square.black{
  background-color:black;
  color:white;
}

.App .Square.white{
  background-color:white;
  color:black;
}

.App .KnightContainer{
  padding:9px;
  opacity:1;
}

.App .KnightContainer.isDragging{
  opacity:0.5;
}

.App .KnightContainer .Knight{
  border-radius:50%;
}

.App .Square.black .Knight{
  border:2px solid white;
  background-color:black;
}

.App .Square.white .Knight{
  border:2px solid black;
  background-color:white;
}